@import 'src/semantic';
@import 'landing';

body {
  background-color: #22313F;
}

.main {
  padding-top: 5em !important;
  padding-bottom: 2em !important;
}

.job-description {
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
}

.new-job-text {
  color: green;
}
