@import 'src/semantic';
@import 'landing';

body {
  background-color: #22313F;
  background: url('background.jpg') no-repeat center center fixed;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.blur-background {
  background-color: rgba(0, 0, 0, 0.7) !important;
}

.main {
  padding-top: 5em !important;
  padding-bottom: 2em !important;
}

.job-description {
  line-height: 1.2em;
  height: 3.6em;
  overflow: hidden;
}

.new-job-text {
  color: green;
}

#upload-button, #job-upload-button {
  display: none;
}
