
<footer class="ui vertical footer segment site-footer">
  <div class="ui center aligned container">
    <div class="ui horizontal small divided link list">
      <div class="item" href="#">&copy; 2015 CVIA Team </div>
      <a class="item" href="#">Contact Us</a>
      <a class="item" href="#">Terms and Conditions</a>
      <a class="item" href="#">Privacy Policy</a>
    </div>
  </div>
</footer>