
<div class="ui stackable borderless pointing main menu">
  <div class="ui container">
    <div href="#" class="header item">
      CVIA
    </div>
    <a href="#" class="active item">
      <i class="large newspaper icon"></i>
      <strong>Jobs</strong>
    </a>
    <a href="#" class="item">
      <i class="large user icon"></i>
      <strong>Profile</strong>
    </a>
    <a href="#" class="item">
      <i class="large line chart icon"></i>
      <strong>Scores</strong>
    </a>
    <a href="#" class="right header item">
      <img class="ui avatar image" />
      Evan Sebastian
      &nbsp;
      <a className="">
        <small>(Logout)</small>
      </a>
    </a>
  </div>
</div>