<div class="ui borderless pointing fixed menu">
  <div class="ui container">
    <div class="ui item">
      <button {{action 'showCreateJobModal' on 'click'}}
          class="ui purple icon button">
        <i class="newspaper icon"></i>
        Post New Job
      </button>
    </div>
    {{#link-to "jobs" class="item"}}
      <i class="large newspaper icon"></i>
      <strong>Jobs</strong>
    {{/link-to}}

    {{#link-to "profile" class="item"}}
      <i class="large user icon"></i>
      <strong>Profile</strong>
    {{/link-to}}

    {{#link-to "submission" class="item"}}
      <i class="large line chart icon"></i>
      <strong>Submission</strong>
    {{/link-to}}
    {{cvia-user-status user=user }}
  </div>
</div>
{{ cvia-upload-job store=store }}