<div class="ui borderless pointing fixed menu">
  <div class="ui container">
    {{#link-to "signup" class="header item"}}
      CViA
    {{/link-to}}
    {{#link-to "jobs" class="item"}}
      <i class="large newspaper icon"></i>
      <strong>Jobs</strong>
    {{/link-to}}
    <div class="right menu">
      <div class="item">
        <div class="ui left icon input">
          {{input type="text" value=email placeholder="E-Mail"}}
          <i class="mail icon"></i>
        </div>
      </div>
      <div class="item">
        <div class="ui left icon input">
          {{input type="password" value=password placeholder="Password"}}
          <i class="asterisk icon"></i>
        </div>
      </div>
      <div class="item">
        <button class="ui teal button" {{action "login" on "click"}}>
          Login
        </button>
      </div>
    </div>
  </div>
</div>
