<div class="card">
  <div class="content">
    <div class="header">{{resume.title}}</div>
    <div class="content">{{resume.ago}}</div>
  </div>
  <div class="extra content">
    <a href="{{resume.url}}" class="ui left floated green basic button">
      <i class="download icon"></i>
      Download
    </a>
    <a href="{{resume.url}}" class="ui left floated red basic button">
      <i class="trash icon"></i>
      Delete
    </a>
  </div>
</div>
