
<div class="ui basic landing-first">
  <div class="ui grid">
    <div class="ten wide column">
      <div class="ui text container segment">
        <h2>Some explanation...</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    <div class="six wide violet padded column">
      <h1 class="ui huge center aligned inverted header">
        Sign Up
      </h1>
      <form class="ui form">
        <div class="two fields">
          <div class="field">
            <input type="text" name="first-name" placeholder="First Name">
          </div>
          <div class="field">
            <input type="text" name="last-name" placeholder="Last Name">
          </div>
        </div>
        <div class="field">
          <input type="email" name="email" placeholder="E-mail">
        </div>
        <div class="field">
          <input type="password" name="email" placeholder="Password">
        </div>
        <div class="field">
          <input type="password" name="email" placeholder="Password (again)">
        </div>
        <div class="two fields">
          <div class="ui radio inverted checkbox">
            <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
            <label>I am an Employee</label>
          </div>
          <div class="ui radio inverted checkbox">
            <input type="radio" name="fruit" checked="" tabindex="0" class="hidden">
            <label>I am a Recruiter</label>
          </div>
        </div>
        <button class="ui fluid teal button" type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>
