
{{#cvia-navbar user=model.user}}{{/cvia-navbar}}
<div class="ui main grid container">
  <div class="sixteen wide column">
    <div class="ui inverted segment blur-background">
      <h1 class="ui inverted big centered header">
        CViA Connects Potential Employees with Recruiters
      </h1>
      <div class="ui three column grid">
        <div class="column">
          <h3 class="ui inverted center aligned icon header dash_header">
            <i class="newspaper users icon"></i>
            Recruiters Post Job Description
          </h3>
          <p>Recruiters of a company upload the job description in PDF format.
          We will then use our sophisticated argument to parse the job description
          and extract useful information from it.
          </p>
        </div>
        <div class="column">
          <h3 class="ui inverted center aligned icon header dash_header">
            <i class="send icon"></i>
             Interested Applicants Send Their Resume
          </h3>
          <p>Potential employees upload their CV and respond to the job description
          he is interested in.
          </p>
        </div>
        <div class="column">
          <h3 class="ui inverted center aligned icon header dash_header">
            <i class="tasks icon"></i>
             Recruiters View the Resume Score
          </h3>
          <p>CViA will use an algorithm to match the resume with the job description
          and show the similarity score to employers.
          </p>
        </div>
      </div>
    </div>

    <div class="ui hidden divider"/>

    <div class="ui inverted segment text container blur-background">
      <h1 class="ui huge center aligned inverted header">
        Interested? Sign Up Now
        <div class="sub header">Signing up is required to upload
        resume or post job opening</div>
      </h1>
      {{ cvia-signup-form action='toJobs' }}
    </div>
  </div>
</div>
{{#cvia-footer}}{{/cvia-footer}}
